body{
  background-color: rgb(180,180,180);
  max-width: 960px;
}
header{
  text-align: center;
}
footer{
  text-align: center;
}
#container > .half {
  @include halfBox;
  text-align: center;
}.quarter{
  @include quarterBox;
}.third{
  @include thirdBox;
}.full{
  @include fullBox;
}
nav{
  @include navBar;
  grid-column-end: span 7;
}
