body{
  background-color: rgb(180,180,180);
  max-width: 960px;
}
header{
  text-align: center;
}
#container > section{
  @include gridBox;
  text-align: center;
}
nav{
  @include navBar;
  grid-column-end: span 7;
}
