// combined attributes that we can load in at once. think about...
// @mixin box {
//   background: invert($primary-color);
//   color: $black;
//   border: 10px solid black;
//   padding: 25px;
//   border-radius: $border;
//   font-variant: small-caps;
// }

@mixin box {
  background: $black;
  color: $white;
  border: 2px solid $pastelPurp;
  padding: 15px;
}

// @mixin grid ($cols, $mgn){
//   float: left;
//   margin-right: $mgn;
//   margin-bottom: $mgn;
//   width: ((100% - (($cols - 1) * $mgn)) / $cols);
//   &:nth-child(#{$cols}n){
//     margin-right: 0;
//   }
// }
