// import google fonts here
// $bgcolor: rgb(0,0,0);
// $h1size: 2em;

$black: rgba(0,0,0,.9);
$white: rgb(255,255,255);
$pastelGreen: rgb(163, 217,181);
$pastelRed: rgb(230,175,149);
$pastelBlu: rgb(164, 185,204);
$pastelTan: rgb(227,217,170);
$pastelPurp: rgb(194,163,217);

$equ: 100% / 4;
