// import google fonts here
// $bgcolor: rgb(0,0,0);
// $h1size: 2em;

$black: rgba(0,0,0,.9);
$white: rgb(255,255,255);
$primary: rgb(163, 217,181);
$secondary: rgb(230,175,149);
$fun: rgb(164, 185,204);
$fun2: rgb(227,217,170);
$fun3: rgb(194,163,217);

$equ: 100% / 2;
